@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");
@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}
*{
    padding: 0;
    margin: 0;
}
h3{
    font-family: Tomorrow,sans-serif;
    color: #fcee09;
    background-color: #050a03;
}
h4{
    color: #fcee09;
    background-color: #050a03;
}
.titulo_principal{
    background-color: #fcee09;
    font-family: Tomorrow, sans-serif;;
}
.bar_nav{
    font-family: Tomorrow,sans-serif;
    color: rgb(0, 240, 255);;
}
.img__banner{
    width: 200px;
}

body {
    min-height: 100vh;
    font-family: 'Cyber', sans-serif;
    background: linear-gradient(90deg, #f5ed00 60%, #e6de00 60%), #fff700;
  }
.cybr-btn {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
    --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
    --primary-hue: 0;
    --primary-lightness: 50;
    --color: hsl(0, 0%, 100%);
    --font-size: 26px;
    --shadow-primary-hue: 180;
    font-family: 'Cyber', sans-serif;
    color: var(--color);
    text-transform: uppercase;
    background: var(--primary);
    font-size: var(--font-size);
    outline: transparent;
    letter-spacing: 2px;
    font-weight: 700;
    border: 0;
    min-width: 300px;
    padding: 32px 64px;
    box-shadow: inset -3px 0 0 var(--shadow-primary);
    clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 10% 110%, -10% 40%);
  }

  .articulos{

  }
.img__articulos{
   max-width: 100%;
   height: 400px;
  }  
.div__img{
    width: 100%;
    object-fit: cover;
}
  .img__redes{
    height: 100px;
    width: 100px;
}
.bg-light{
    background-color: #fcee09;
}